
<header id="header">
  <div class="navbar navbar-default">

    <div class="navbar-header">
      <!-- boton de despligue con menu reponsive-->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-extended="false">
        <span class="sr-only">Toggle</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!--logo -->
      <a class="navbar-brand" [routerLink]="['/']">
        <img src="../assets/img/angular-icon.png" id="logo" height="35">
      </a>

    </div>

  <div class="collapse navbar-collapse" id="menu">
    <ul class="nav navbar-nav">
      <li>
        <a [routerLink]="['/angular']">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
          Home
        </a>
      </li>
      <li>
        <a [routerLink]="['/new-task']" *ngIf="identity && identity.sub">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          Crear Tarea
        </a>
      </li>


    </ul>


    <ul class="nav navbar-nav navbar-right" *ngIf="!identity ">
      <li>
        <a [routerLink]="['/angular/login']">
          <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
          Login
        </a>
      </li>
      <li>
        <a [routerLink]="['/angular/register']">
          <span class="glyphicon glyphicon-register" aria-hidden="true"></span>
          Register
        </a>
      </li>
    </ul>


    <ul  class="nav navbar-nav navbar-right" *ngIf="identity && identity.sub">
      <li>
        <a [routerLink]="['/user-edit']" >
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
          Ajustes
        </a>
      </li>
      <li>
        <a [routerLink]="['/login',1]" >
          <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
          Logout
        </a>
      </li>


    </ul>

  </div>

  </div>


</header>

<router-outlet></router-outlet>



<!--

<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
-->
