
<div class="col-md-12">

  <div *ngIf="!identity || identity == null">
    Inicia sesion para acceder a mas opciones
  </div>

<div class="col-md-12" *ngIf="identity && identity.sub">

  <h3>{{ title }}</h3>
  <br>

    <div class="all-task">

      <div class="loader" *ngIf="loading == 'show'">
        <img
          style="display: block;
                 margin-left: auto;
                 margin-right: auto;
                 width: 25%;"
          src="../../assets/img/loader.gif">
      </div>

      <table class="table table-hover table-striped" id="tasks-list" >
        <tr>
          <th>Estado</th>
          <th>Titulo</th>
          <th>Acciones</th>
        </tr>
        <tr *ngFor="let tarea of tasks" >
          <h4>
            <td>

              <span class="label label-primary" *ngIf="tarea.status == 'todo' || tarea.status == 'TO DO' ">
              {{tarea.status}}
             </span>

              <span class="label label-warning" *ngIf="tarea.status == 'new'">
              {{tarea.status}}
             </span>

              <span class="label label-danger" *ngIf="tarea.status == 'finished'">
              {{tarea.status}}
             </span>

            </td>
          </h4>
            <td>
              <h4>
                <a [routerLink]="['task',tarea.id]"> {{tarea.title}}</a>
              </h4>
            </td>

            <td>
              <a href="#" class="btn btn-default" >Editar</a>
            </td>
        </tr>

      </table>

      <ul class="pagination" *ngIf="tasks && tasks.length>=1 ">
        <li>
          <a [routerLink]="['/','pagePrev']" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>

          </a>
        </li>

        <li *ngFor="let page of pages">
          <a [routerLink]="['/','page']">{{page+1}}</a>

        </li>
        <li>
          <a [routerLink]="['/','pageNext']" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>

          </a>
        </li>
      </ul>
     </div>

</div>


