<meta http-equiv="Content-Security-Policy"
      content="default-src 'none'; script-src 'unsafe-eval'" />
<div class="col-md-12">

  <h3>{{title}}</h3>

  <div class="identity-alert alert alert-success" *ngIf="identity && identity.sub">
    Successfuly you email is correct !!! {{identity.email}}
  </div>

  <div class="identity-alert alert alert-danger" *ngIf="identity && identity.data">
    Error, you email is NOT  correct !!! {{identity.email}}
  </div>



  <form  #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-4 no-padding" >
    <p>
      <label>Email:</label>
      <input type="email" class="form-control" name="email" #email="ngModel"  required [(ngModel)]="user.email" >
      <!-- <span *ngIf="!email.valid && email.touched">El email no es valido</span>-->
    </p>


    <p>
      <label>Password:</label>
      <input type="password" class="form-control" name="password"  required [(ngModel)]="user.password" >
      <!-- <<span *ngIf="!password.valid && password.touched">El password no es valido</span> -->
    </p>

    <input type="submit" value="Entrar" class="btn btn-primary">
  </form>

</div>
