<div class="col-md-12">
  <h3>{{ titulo }}</h3>


  <div class="alert alert-success" *ngIf="estado == 'success'">
    Tarea creada correctamente !!
  </div>


  <div class="alert alert-danger" *ngIf="estado == 'error'">
    Error al crear la tarea
  </div>


  <form #taskNewForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-7 no-padding">

      <p>
        <label>Titulo</label>
        <input type="text" class="form-control" name="title"  #title="ngModel" [(ngModel)]="task.title" required/>
      <!--  <span *ngIf="!title.valid && title.touched">El titulo no es correcto...</span>-->
      </p>

      <p>
        <label>Descripción</label>
        <textarea class="form-control" name="description" #description="ngModel" [(ngModel)]="task.description" ></textarea>
        <!--<span *ngIf="!description.valid && description.touched">La descripción no es correcta...</span>-->
      </p>

      <p>
        <label>Estado</label>
        <select class="form-control" name="status"  #status="ngModel" [(ngModel)]="task.status">
          <option value="new">Nueva</option>
          <option value="todo">Por hacer</option>
          <option value="finished">Acabada</option>
        </select>

      </p>


        <input type="submit" class="btn btn-success" value="{{titulo}}" [disabled]="!taskNewForm.form.valid"/>


    </form>
</div>
