<div class="col-md-12">
  <h3>{{task.title}}</h3>

  <div class="loader" *ngIf="loading == 'show'">
    <img
      style="display: block;
                 margin-left: auto;
                 margin-right: auto;
                 width: 25%;"
      src="../../assets/img/loader.gif">
  </div>
  <div class="panel panel-default task-data">
    <div class="panel-heading">
      <h3 class="panel-title">
        Tarea creada por <strong>{{task.user.name}} {{task.user.surname}}</strong><hr>
        Fecha: {{task.createdAt.timestamp}}
      </h3>
    </div>

    <div class="panel-body">
      <h3>Descripción:</h3> {{task.description}}
    </div>

  </div>
</div>
