

<div class="col-md-12">
  <h3>{{title}}</h3>


  <div class="identity-alert alert alert-success" *ngIf="status == 'success'">
    Successfuly your user account cahnged !!! {{identity.email}}
  </div>

  <div class="identity-alert alert alert-danger" *ngIf="status == 'error'">
    Error, you cannot update user account!!!
  </div>



  <form #updateForm="ngForm" (ngSubmit)="onSubmit()"  class="col-md-7 no-padding" >
    <p>
      <label>Nombbre</label>
      <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="user.name" required>
      <span *ngIf="!name.valid && name.touched"> El nombre es obligatorio </span>
    </p>


    <p>
      <label>Apellido</label>
      <input type="text" class="form-control" name="surname" #surname="ngModel" [(ngModel)]="user.surname" >
      <span *ngIf="!surname.valid && surname.touched"> El apellido es obligatorio </span>
    </p>
<!--
    <p>
    <label>Role</label>
    <input type="text" class="form-control" name="role" #name="ngModel" [(ngModel)]="user.role" >

    </p>
-->

    <p>
      <label>Email</label>
      <input type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="user.email" required>
      <span *ngIf="!email.valid && email.touched"> El email es obligatorio </span>
    </p>

    <p>
      <label>Password</label>
      <input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="user.password"  required>
      <span *ngIf="!password.valid && password.touched"> El password es obligatorio </span>
    </p>


    <input type="Submit" class="btn btn-warning" value="{{title}}" [disabled]="!updateForm.form.valid" >

  </form>
</div>

